<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PimdexxSystem.Properties.Settings.PDBASEConnectionString"
            connectionString="Data Source=DESKTOP-PIKVREV\SQLEXPRESS;Initial Catalog=PDBASE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PimdexxSystem.Properties.Settings.SystemOrangeConnectionString"
            connectionString="Data Source=DESKTOP-PIKVREV\SQLEXPRESS;Initial Catalog=SystemOrange;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AtendeClienteServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AtendeClienteServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"
                binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding"
                contract="WSCorreios.AtendeCliente" name="AtendeClientePort" />
        </client>
    </system.serviceModel>
</configuration>